# load distro-specific variables
- include_vars: "{{ ansible_facts['distribution'] }}.yml"
  tags: always
- block:
  - import_tasks: users.yml
  - import_tasks: miscellaneous.yml
  - import_tasks: ssh.yml
