- name: development | emacs | prevent packages conflict
  tags: emacs
  package:
    name:
      - emacs
    state: absent

- name: development | emacs | install Emacs
  tags: emacs
  package:
    name: emacs-wayland

- name: development | emacs | ensure Chemacs 2 dir exist
  tags: emacs
  file:
    path: /home/rafael/.config/chemacs
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: development | emacs | clone Chemacs 2 git repo
  tags: emacs
  become_user: rafael
  git:
    clone: yes
    repo: https://github.com/plexus/chemacs2.git
    dest: /home/rafael/.config/emacs

- name: development | emacs | copy Chemacs 2 dotfiles
  tags: emacs
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/emacs/chemacs/{{ item }}
    dest: /home/rafael/.config/chemacs/{{ item }}
    owner: rafael
    group: rafael
    mode: "0600"
  with_items:
    - "profiles.el"  # list profiles
    - "profile"      # set default

- name: development | emacs | ensure emacs EFS dir exist
  tags: emacs
  file:
    path: /home/rafael/.config/emacs-efs/desktop
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: development | emacs | install EFS
  tags: emacs
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/emacs/{{ item }}
    dest: /home/rafael/.config/emacs-efs/{{ item }}
    owner: rafael
    group: rafael
    mode: "0600"
  with_items:
    - early-init.el
    - init.el
