- name: development | virtual machine | QEMU install
  tags: dev,qemu
  package:
    name:
      - qemu-base      # version without GUI
      - qemu-desktop   # x86_64 emulation
  register: qemu_install

- name: development | virtual machine | QEMU install libvirt and virt-manager
  tags: dev,qemu
  package:
    name:
     - libvirt         # API for controlling virtualization engines
     - virt-manager    # GUI to manage KVM, Xen, or LXC via libvirt
     - dnsmasq         # network support: default NAT/DHCP
     - openbsd-netcat  # network support: remote management over SSH
     - python-lxml     # XML required for libvirt Ansible module

- name: development | virtual machine | QEMU enable network on guests
  tags: dev,qemu
  lineinfile:
    path: /etc/libvirt/network.conf
    line: 'firewall_backend = "iptables"'
    state: present
    regexp: '^#firewall_backend = "nftables"$'

- name: development | virtual machine | QEMU start libvirtd daemon
  tags: dev,qemu
  systemd:
    name: libvirtd
    state: started
  when: qemu_install.changed

- name: development | virtual machine | QEMU configure network
  tags: dev,qemu
  community.libvirt.virt_net:
    command: define
    xml: /etc/libvirt/qemu/networks/default.xml
    name: default
    state: active
    autostart: yes
  when: qemu_install.changed

- name: development | virtual machine | QEMU stop and disable libvirtd daemon
  tags: dev,qemu
  systemd:
    name: libvirtd
    state: stopped
    enabled: false
  when: qemu_install.changed

- name: development | virtual machine | QEMU add user to libvirt group
  tags: dev,qemu,groups
  ansible.builtin.user:
    name: rafael
    groups: libvirt
    append: yes
    state: present
