- name: users | aurman | create group
  tags: aur,aurman,groups,users
  group:
    name: aurman
    state: present
    system: true

- name: users | aurman | create user
  tags: aur,aurman,users
  user:
    name: aurman
    group: aurman
    groups: "{{ sudo_group }}"
    createhome: yes
    state: present
    comment: "AUR manager"
    system: yes
    shell: /usr/bin/nologin

- name: users | aurman | add sudoers file
  tags: aur,aurman,users,sudo
  copy:
    src: files/users/sudoers_aurman
    dest: /etc/sudoers.d/aurman
    owner: root
    group: root
    mode: 0440
    validate: "/usr/bin/visudo -cf %s"
