# load distro-specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

- block:
  # Arch Linux exclusive
  - import_tasks: users/aurman.yml                      # AUR user
  - import_tasks: software/pacman.yml                   # config package manager
  - import_tasks: software/paru.yml                     # paru (AUR helper)
  - import_tasks: software/chaotic-aur.yml              # Chaotic-AUR
  when: ansible_distribution == "Archlinux"

- block:
  # Keyboard: laptop only
  - import_tasks: system/power.yml                      # disable power button
  - import_tasks: keyboard/keeb-kanata.yml              # QMK-like layers
  #- import_tasks: keyboard/keeb-interception.yml       # [deprecated] interception
  #- import_tasks: keyboard/keeb-udevmon.yml            # [deprecated] udevmon
  #- import_tasks: keyboard/keeb-kmonad.yml             # [deprecated] QMK-like layers
  when: inventory_hostname in groups['laptop']

- block:
  # Keyboard: workstation + laptop
  - import_tasks: keyboard/keeb-cedilla.yml             # fix cedilla
  - import_tasks: keyboard/keeb-hwdb.yml                # hardware mod
  - import_tasks: keyboard/keeb-utils.yml               # tools and utilities
  - import_tasks: keyboard/keeb-xkb.yml                 # set modifiers
  - import_tasks: keyboard/keeb-xremap.yml              # software processing
  - import_tasks: keyboard/keeb-ydotool.yml             # command-line automation
  - import_tasks: keyboard/keeb-zsa.yml                 # ZSA's Keymapp & Kontroll

  # System settings
  - import_tasks: system/audio.yml                      # PipeWire
  - import_tasks: system/bluetooth.yml                  # BlueZ
  - import_tasks: system/cpu.yml                        # AMD / Intel
  - import_tasks: system/flatpak.yml                    # Flatpak
  - import_tasks: system/fonts.yml                      # fonts
  - import_tasks: system/gpg.yml                        # GnuPG keys
  - import_tasks: system/gpu.yml                        # NVIDIA / AMD
  - import_tasks: system/grub.yml                       # GRUB
  - import_tasks: system/mouse.yml                      # LogiOps driver
  - import_tasks: system/network.yml                    # NetworkManager
  - import_tasks: system/printer.yml                    # CUPS, driver, GUI
  - import_tasks: system/vpn.yml                        # VPN

  # Applications
  - import_tasks: software/android.yml                  # Android
  - import_tasks: software/app-laucher.yml              # rofi
  - import_tasks: software/browser-brave.yml            # browser: Brave
  - import_tasks: software/browser-firefox.yml          # browser: Firefox
  - import_tasks: software/browser-chromium.yml         # browser: Chromium
  - import_tasks: software/display-manager.yml          # LightDM / SDDM
  - import_tasks: software/email-client.yml             # Thunderbird
  - import_tasks: software/file-manager.yml             # Thunar/ranger
  - import_tasks: software/media-audio.yml              # music-related
  - import_tasks: software/office-suite.yml             # LibreOffice
  - import_tasks: software/pdf-viewer.yml               # Zathura
  - import_tasks: software/presentation.yml             # pdfpc
  - import_tasks: software/ssh-agent.yml                # Keychain
  - import_tasks: software/statusline.yml               # Waybar / Polybar
  - import_tasks: software/scripts.yml                  # custom scripts
  - import_tasks: software/screenshot.yml               # screenshot tools
  - import_tasks: software/shell.yml                    # Zsh
  - import_tasks: software/social-media.yml             # Slack, WhatsApp, Discord, etc
  - import_tasks: software/syncthing.yml                # Syncthing
  - import_tasks: software/terminal.yml                 # kitty
  - import_tasks: software/theme.yml                    # GTK-{3,4}
  - import_tasks: software/utils.yml                    # general packages
  - import_tasks: software/video.yml                    # video tools
  - import_tasks: software/wallpaper.yml                # wallpaper
  - import_tasks: software/window-manager.yml           # i3 / Sway

  # Development
  - import_tasks: dev/container.yml                     # Podman, Docker
  - import_tasks: dev/emacs.yml                         # Emacs
  - import_tasks: dev/git.yml                           # Git
  - import_tasks: dev/iot.yml                           # IoT (esptool, Saleae, PlatformIO, etc)
  - import_tasks: dev/jupyter.yml                       # Jupyter
  - import_tasks: dev/latex.yml                         # LaTeX
  - import_tasks: dev/python.yml                        # Python
  - import_tasks: dev/terminal-multiplexer.yml          # tmux
  - import_tasks: dev/vm-qemu.yml                       # virual machine: QEMU
  #- import_tasks: dev/vm-virtualbox.yml                # [deprecated] virtual machine: VirtualBox
