- name: system | disk-protection | get root mount information
  tags: system,disk
  ansible.builtin.set_fact:
    root_mount: "{{ ansible_mounts | selectattr('mount', 'equalto', '/') | first }}"

# create a reserved block of 1% (~10 GB) to avoid disk filled
# we set "changed_when" to false, since tune2fs does not have a built-in idempotency check
- name: system | disk-protection | create reserved disk space block (ext4)
  tags: system,disk
  ansible.builtin.command: "tune2fs -m 1 {{ root_mount.device }}"
  when: root_mount.fstype == 'ext4'
  changed_when: false
