- name: system | mamba | download Miniforge installer
  tags: system,mamba
  ansible.builtin.get_url:
    url: "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh"
    dest: "/tmp/Miniforge3.sh"
    mode: '0755'

# flags:
#   -b: batch mode (run silently)
#   -u: update
#   -p: prefix/path (set to /opt/mamba)
- name: system | mamba | run Miniforge installer
  tags: system,mamba
  ansible.builtin.command: "/tmp/Miniforge3.sh -b -u -p /opt/mamba"
  args:
    creates: /opt/mamba

- name: system | mamba | make mamba available to users upon login
  tags: system,mamba
  ansible.builtin.copy:
    dest: /etc/profile.d/mamba.sh
    content: |
      export MAMBA_ROOT_PREFIX=/opt/mamba
      . /opt/mamba/etc/profile.d/conda.sh
      . /opt/mamba/etc/profile.d/mamba.sh
    owner: root
    group: root
    mode: '0644'
