# https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/install-guide.html

- name: system | nvidia-ctk | install prerequisites
  tags: system,nvidia,nvidia-ctk
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg2
    update_cache: yes

- name: system | nvidia-ctk | download GPG key
  tags: system,nvidia,nvidia-ctk
  ansible.builtin.get_url:
    url: https://nvidia.github.io/libnvidia-container/gpgkey
    dest: /tmp/nvidia-container-toolkit.asc
    mode: '0644'
