# https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/install-guide.html

- name: system | nvidia-ctk | install prerequisites
  tags: system,nvidia,nvidia-ctk
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg2
    update_cache: yes
