#https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html

#----------------------------------------
# Automatic CDI specification generation
#----------------------------------------

# as of nvidia-cdi v1.18.0, the specification is generated/updated by the =nvidia-cdi-refresh= systemd service
- name: system | nvidia-cdi | generate CDI specification
  tags: system,nvidia,nvidia-cdi
  systemd:
    name: nvidia-cdi-refresh
    enabled: true
    daemon_reload: true
    state: restarted
  when: nvidia_ctk_install.changed
