- name: system | podman | prevent packages conflict
  tags: system,podman
  package:
    name: docker
    state: absent

- name: system | podman | install Podman
  tags: system,podman
  package:
    name:
      - podman          # tool and library to run OCI-based containers in pods
      - podman-compose  # script to run docker-compose.yml
      - podman-docker   # aliases to emulate Docker CLI

- name: system | podman | [debug] test GPU support Podman containers
  tags: system,podman
  ansible.builtin.command: podman run --rm --device nvidia.com/gpu=all ubuntu nvidia-smi
  #ansible.builtin.command: podman run --rm --device nvidia.com/gpu=all ubuntu nvidia-smi -L
  register: podman_gpu_test
  changed_when: false

- name: system | podman | [debug] display the output of nvidia-smi inside container
  tags: system,podman
  ansible.builtin.debug:
    var: podman_gpu_test.stdout_lines
