- name: users | ansible | create group
  tags: ansible,groups,users
  group:
    name: ansible
    state: present

- name: users | ansible | create user
  tags: ansible,users
  user:
    name: ansible
    group: ansible
    groups: "{{ sudo_group }}"
    createhome: yes
    state: present
    comment: "Ansible"
    system: yes
    shell: /bin/bash

- name: users | ansible | ensure home dir ownership
  tags: ansible,users
  file:
    path: /home/ansible
    owner: ansible
    group: ansible
    mode: 0700
    state: directory

- name: users | ansible | add sudoers file
  tags: ansible,users,sudo
  copy:
    src: files/users/sudoers_ansible
    dest: /etc/sudoers.d/ansible
    owner: root
    group: root
    mode: 0440
    validate: "/usr/bin/visudo -cf %s"

- name: users | ansible | create ssh keys dir
  tags: ssh,ssh-keys
  file:
    path: /home/ansible/.ssh
    state: directory
    owner: ansible
    group: ansible
    mode: 0700

- name: users | ansible | generate ssh keys
  tags: ssh,ssh-keys
  openssh_keypair:
    path: /home/ansible/.ssh/id_ed25519
    type: ed25519
    state: present
    owner: ansible
    group: ansible
    comment: "{{ ansible_facts['hostname'] }}"
