#- name: software | utils | keyboard tools (X11)
#  tags: utils,tools
#  package:
#    name:
#      - screenkey       # screencast tool
#  when: display_manager == "x11"

#- name: software | utils | keyboard tools (Wayland)
#  tags: utils,tools
#  become_user: aurman
#  kewlfft.aur.aur:
#    name:
#      - wshowkeys-git   # screencast tool
#  when: display_manager == "wayland"

- name: software | utils | keyboard tools (X11/Wayland)
  tags: utils,tools
  become_user: aurman
  kewlfft.aur.aur:
    name:
      - showmethekey    # screencast tool
