- name: keyboard | lan-mouse | install lan-mouse
  tags: keyboard,lan-mouse
  become_user: aurman
  kewlfft.aur.aur:
    name: lan-mouse-git
  when: ansible_facts['distribution'] == "Archlinux"

- name: keyboard | lan-mouse | ensure lan-mouse dirs exist
  tags: keyboard,lan-mouse
  file:
    path: /home/rafael/.config/{{ item }}
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - lan-mouse
    - systemd/user

- name: keyboard | lan-mouse | copy lan-mouse config files for laptop (client)
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/lan-mouse/{{ item.src }}
    dest: /home/rafael/.config/{{ item.dest }}
    remote_src: true
    owner: rafael
    group: rafael
    mode: "{{ item.mode }}"
  loop:
    - { src: "config_laptop.toml",         dest: "lan-mouse/config.toml",       mode: "0600" }
    - { src: "lanmouse-monitor_laptop.sh", dest: "scripts/lanmouse-monitor.sh", mode: "0700" }
    - { src: "lanmouse-switch_laptop.sh",  dest: "scripts/lanmouse-switch.sh",   mode: "0700" }
  when: inventory_hostname in groups['laptop']

- name: keyboard | lan-mouse | copy lan-mouse config files for desktop (server)
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/lan-mouse/{{ item.src }}
    dest: /home/rafael/.config/{{ item.dest }}
    remote_src: true
    owner: rafael
    group: rafael
    mode: "{{ item.mode }}"
  loop:
    - { src: "config_desktop.toml",         dest: "lan-mouse/config.toml",       mode: "0600" }
    - { src: "lanmouse-monitor_desktop.sh", dest: "scripts/lanmouse-monitor.sh", mode: "0700" }
    - { src: "lanmouse-switch_desktop.sh",  dest: "scripts/lanmouse-switch.sh",  mode: "0700" }
  when: inventory_hostname not in groups['laptop']

- name: keyboard | lan-mouse | add desktop's SSH public keys to laptop's authorized_keys
  tags: keyboard,lan-mouse
  ansible.posix.authorized_key:
    user: rafael
    state: present
    key_options: 'command="/usr/bin/env WAYLAND_DISPLAY=\"wayland-1\" wl-copy; echo copied",no-agent-forwarding,no-pty,no-X11-forwarding'
    key: "{{ item }}"
  loop:
    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOE49R4lrRocw9X8dtiZxG+GUQ2yykPBGzXkTtnUbaAE rafael@catuaba"
  when: inventory_hostname in groups['laptop']

- name: keyboard | lan-mouse | add laptop's SSH public keys to desktop's authorized_keys
  tags: keyboard,lan-mouse
  ansible.posix.authorized_key:
    user: rafael
    state: present
    key_options: 'command="/usr/bin/env WAYLAND_DISPLAY=\"wayland-1\" wl-copy; echo copied",no-agent-forwarding,no-pty,no-X11-forwarding'
    key: "{{ item }}"
  loop:
    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJYB3VWZL2D13hfjT9WFu4nYgU7b3SsRb59CnDOOU31f rafael@ipf-archlinux"
  when: inventory_hostname not in groups['laptop']

- name: keyboard | lan-mouse | copy lan-mouse systemd services
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/systemd/user/{{ item }}
    dest: /home/rafael/.config/systemd/user/{{ item }}
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600
  loop:
    - lanmouse.service
    - lanmouse-monitor.service
  register: lanmouse_services

- name: keyboard | lan-mouse | reload systemd user services once
  tags: keyboard,lan-mouse
  become_user: rafael
  systemd:
    daemon_reload: true
    scope: user
  when: lanmouse_services.changed

- name: keyboard | lan-mouse | enable user lingering for systemd
  tags: keyboard,lan-mouse
  command:
    cmd: loginctl enable-linger rafael
    creates: /var/lib/systemd/linger/rafael

- name: keyboard | lan-mouse | enable lan-mouse user services
  tags: keyboard,lan-mouse
  become_user: rafael
  systemd:
    name: "{{ item }}"
    enabled: true
    daemon_reload: false
    state: stopped
    scope: user
  loop:
    - "lanmouse"
    - "lanmouse-monitor"

- name: keyboard | lan-mouse | open port to local network
  tags: keyboard,lan-mouse
  community.general.ufw:
    rule: allow
    port: '4242'
    src: '192.168.0.0/24'
    proto: "{{ item }}"
  loop:
    - tcp
    - udp
