- name: keyboard | lan-mouse | install lan-mouse
  tags: keyboard,lan-mouse
  become_user: aurman
  kewlfft.aur.aur:
    name: lan-mouse-git
  when: ansible_facts['distribution'] == "Archlinux"

- name: keyboard | lan-mouse | ensure lan-mouse dirs exist
  tags: keyboard,lan-mouse
  file:
    path: /home/rafael/.config/{{ item }}
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - lan-mouse
    - systemd/user

- name: keyboard | lan-mouse | copy lan-mouse dotfile for receiving end
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/lan-mouse/config_laptop.toml
    dest: /home/rafael/.config/lan-mouse/config.toml
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600
  when: inventory_hostname in groups['laptop']

- name: keyboard | lan-mouse | copy lan-mouse dotfile for sending end
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/lan-mouse/config_pc.toml
    dest: /home/rafael/.config/lan-mouse/config.toml
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600
  when: inventory_hostname not in groups['laptop']

- name: keyboard | lan-mouse | copy lan-mouse user systemd service
  tags: keyboard,lan-mouse
  copy:
    src: /home/ansible/git/keebab/systemd/user/lan-mouse.service
    dest: /home/rafael/.config/systemd/user/lan-mouse.service
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600

- name: keyboard | lan-mouse | enable user lingering for systemd
  tags: keyboard,lan-mouse
  command:
    cmd: loginctl enable-linger rafael
    creates: /var/lib/systemd/linger/rafael

- name: keyboard | lan-mouse | enable lan-mouse user service
  tags: keyboard,lan-mouse
  become_user: rafael
  systemd:
    name: lan-mouse
    enabled: true
    daemon_reload: true
    state: stopped
    scope: user
