- name: keyboard | kanata | install kanata
  tags: keyboard,kanata
  become_user: aurman
  kewlfft.aur.aur:
    name: kanata-bin
  when: ansible_facts['distribution'] == "Archlinux"

- name: keyboard | kanata | ensure kanata dirs exist
  tags: keyboard,kanata
  file:
    path: /home/rafael/.config/{{ item }}
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - kanata
    - systemd/user

- name: keyboard | kanata | copy kanata dotfile
  tags: keyboard,kanata
  copy:
    src: /home/ansible/git/keebab/kanata/kanata.kbd
    dest: /home/rafael/.config/kanata/kanata.kbd
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600

- name: keyboard | kanata | copy kanata global systemd service
  tags: keyboard,kanata
  copy:
    src: /home/ansible/git/keebab/systemd/system/kanata.service
    dest: /etc/systemd/system/kanata.service
    remote_src: true
    owner: root
    group: root
    mode: 0600

- name: keyboard | kanata | copy kanata user systemd service
  tags: keyboard,kanata
  copy:
    src: /home/ansible/git/keebab/systemd/user/kanata.service
    dest: /home/rafael/.config/systemd/user/kanata.service
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600

- name: keyboard | kanata | enable user lingering for systemd
  tags: keyboard,kanata
  command:
    cmd: loginctl enable-linger rafael
    creates: /var/lib/systemd/linger/rafael

- name: keyboard | kanata | reload kanata user service
  tags: keyboard,kanata
  become_user: rafael
  systemd:
    name: kanata
    enabled: false
    daemon_reload: true
    state: stopped
    scope: user

- name: keyboard | kanata | enable kanata global daemon
  tags: keyboard,kanata
  systemd:
    name: kanata
    enabled: true
    daemon_reload: true
    state: stopped
