#- name: keyboard | utils | X11 screencast
#  tags: keyboard,utils
#  package:
#    name:
#      - screenkey       # screencast tool
#  when: display_manager == "x11"

#- name: keyboard | utils | Wayland screencast
#  tags: keyboard,utils
#  become_user: aurman
#  kewlfft.aur.aur:
#    name:
#      - wshowkeys-git   # screencast tool
#  when:
#    - display_manager == "wayland"
#    - ansible_facts['distribution'] == "Archlinux"

- name: keyboard | utils | install keyboard tools (AUR)
  tags: keyboard,utils
  become_user: aurman
  kewlfft.aur.aur:
    name:
      - showmethekey     # screencast tool for both X11/Wayland
  when: ansible_facts['distribution'] == "Archlinux"

- name: keyboard | utils | install keyboard tools for X11
  tags: keyboard,utils
  package:
    name:
      - xorg-xev  # tool for debugging X events
  when: display_manager == "x11"

- name: keyboard | utils | install keyboard tools for Wayland
  tags: keyboard,utils
  package:
    name:
      - wev  # tool for debugging wayland events on a Wayland window
  when: display_manager == "wayland"

- name: keyboard | utils | ensure scripts dir exists
  tags: keyboard,utils
  file:
    path: /home/rafael/.config/scripts
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: keyboard | utils | copy keyboard scripts
  tags: keyboard,utils
  copy:
    remote_src: yes
    src: /home/ansible/git/keebab/scripts/{{ item }}
    dest: /home/rafael/.config/scripts/{{ item }}
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - 'capslock-status.sh'  # control Caps Lock
    - 'capslock-led.sh'     # repurpose Caps Lock LED
    - 'keeb-backlit.sh'     # control native laptop keyboard backlit
    - 'keeb-leds.sh'        # control external keyboard backlit RGB LEDs
    - 'lan-mouse-monitor.sh'   # sends clipboard back to sender host via SSH forced command
    - 'push-clipboard.sh'      # copy clipboard when switching hosts with lan-mouse
    - 'sway-dispatch.sh'       # xremap-like integration with lan-mouse
    - 'mx-script.sh'        # switch MX Master 3 host connection
