- name: software | package-manager | Chaotic-AUR retrieve and sign primary key
  tags: chaotic-aur
  community.general.pacman_key:
    id: EF925EA60F33D0CB85C44AD13056513887B78AEB
    keyserver: keyserver.ubuntu.com
    state: present
    ensure_trusted: yes

- name: software | package-manager | Chaotic-AUR install keyring & mirror
  tags: chaotic-aur
  community.general.pacman:
    name:
      - https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst
      - https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst

- name: software | package-manager | Chaotic-AUR enable repository
  tags: chaotic-aur
  become: true
  ansible.builtin.blockinfile:
    path: /etc/pacman.conf
    #marker: ""
    block: |
      [chaotic-aur]
      Include = /etc/pacman.d/chaotic-mirrorlist
    insertafter: '(?m)^\[multilib\]$\n^Include = /etc/pacman.d/mirrorlist$\n'
    append_newline: true

- name: software | package-manager | Chaotic-AUR update cache after enabling repository
  tags: chaotic-aur
  pacman:
    update_cache: true
