- name: software | display-manager | LightDM install
  tags: display-manager,lightdm
  package:
    name: lightdm  # display manager
  register: lightdm_install

- name: software | display-manager | LightDM greeter install
  tags: display-manager,lightdm
  package:
    name: lightdm-webkit2-greeter  # greeter

- name: software | display-manager | LightDM greeter theme install
  tags: display-manager,lightdm
  become_user: aurman
  kewlfft.aur.aur:
    name: lightdm-webkit-theme-aether-git  # greeter theme
  when: ansible_facts['distribution'] == "Archlinux"

- name: software | display-manager | install xorg packages
  tags: display-manager,lightdm
  package:
    name:
      - xorg-xrandr  # used by script to display LightDM only in one monitor
      - xorg-xhost   # used by script to launch lan-mouse software KVM

- name: software | display-manager | copy lan-mouse & xrandr scripts for LightDM
  tags: display-manager,lightdm
  copy:
    src: /home/ansible/git/dotfiles/lightdm/{{ item }}
    dest: /etc/lightdm/{{ item }}
    remote_src: true
    owner: root
    group: root
    mode: 0744
  loop:
    - lightdm-outputs.sh
    - lightdm-lan-mouse.sh
    - lightdm-script-wrapper.sh
  when: inventory_hostname in groups['laptop']

- name: software | display-manager | LightDM setup "logind-check-graphical"
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: 'logind-check-graphical=true'
    state: present
    regexp: '^.*(logind-check-graphical=).*$'
    insertafter: '^\[LightDM\]$'

- name: software | display-manager | LightDM setup "sessions-directory"
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: 'sessions-directory=/usr/share/lightdm/sessions:/usr/share/xsessions:/usr/share/wayland-sessions'
    state: present
    regexp: '^.*(sessions-directory=.*/usr/share/wayland-sessions)$'
    insertafter: '^\[LightDM\]$'

- name: software | display-manager | LightDM setup "greeter-session"
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: 'greeter-session=lightdm-webkit2-greeter'
    state: present
    regexp: '.*(greeter-session=).*'
    insertafter: '^\[Seat:\*\]$'

- name: software | display-manager | LightDM setup "greeter-setup-script"
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/lightdm.conf
    line: 'greeter-setup-script=/etc/lightdm/lightdm-script-wrapper.sh'
    state: present
    regexp: '^.*(greeter-setup-script=).*$'
    insertafter: '^\[Seat:\*\]$'

- name: software | display-manager | LightDM setup "webkit_theme"
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/lightdm-webkit2-greeter.conf
    line: 'webkit_theme        = lightdm-webkit-theme-aether'
    state: present
    regexp: '(^webkit_theme.*= ).*$'
    insertafter: '^\[greeter\]$'

- name: software | display-manager | LightDM fix session launch script
  tags: display-manager,lightdm
  lineinfile:
    path: /etc/lightdm/Xsession
    line: 'sleep 1'
    state: present
    regexp: '^sleep 1'
    insertbefore: 'exec \$\@'

- name: software | display-manager | LightDM create backup of built-in default background
  tags: display-manager,lightdm
  copy:
    remote_src: true
    src: /usr/share/lightdm-webkit/themes/lightdm-webkit-theme-aether/src/img/wallpapers/space-1.jpg
    dest: /usr/share/lightdm-webkit/themes/lightdm-webkit-theme-aether/src/img/wallpapers/space-1-bak.jpg
    owner: root
    group: root
    mode: 0644

- name: software | display-manager | LightDM set default background image
  tags: display-manager,lightdm
  copy:
    remote_src: true
    src: /home/ansible/git/dotfiles/wallpaper/piedras-rojas.jpg
    dest: /usr/share/lightdm-webkit/themes/lightdm-webkit-theme-aether/src/img/wallpapers/space-1.jpg
    owner: root
    group: root
    mode: 0644

- name: software | display-manager | LightDM set avatar photo
  tags: display-manager,lightdm
  copy:
    src: files/lightdm/rafael
    dest: /var/lib/AccountsService/users/rafael
    owner: root
    group: root
    mode: 0600

- name: software | display-manager | set env vars
  tags: display-manager,lightdm
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/lightdm/xprofile
    dest: /home/rafael/.xprofile
    owner: rafael
    group: rafael
    mode: "0644"

- name: software | display-manager | enable touchpad tapping if laptop
  tags: display-manager,lightdm
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/lightdm/40-libinput.conf
    dest: /etc/X11/xorg.conf.d/40-libinput.conf
    owner: root
    group: root
    mode: "0644"
  when: inventory_hostname in groups['laptop']

- name: software | display-manager | LightDM enable daemon
  tags: display-manager,lightdm
  systemd:
    name: lightdm
    enabled: yes
    state: stopped
  when: lightdm_install.changed

#- name: software | display-manager | LightDM start daemon
#  tags: display-manager,lightdm
#  systemd:
#    name: lightdm
#    enabled: yes
#    state: started
#  when: not lightdm_install.changed
