- name: software | presentation | pdfpc install
  tags: presentation,pdfpc
  package:
    name: pdfpc

- name: software | presentation | pdfpc ensure dotfile dir exist
  tags: presentation,pdfpc
  file:
    path: /home/rafael/.config/pdfpc
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: software | presentation | pdfpc copy dotfile
  tags: presentation,pdfpc
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/pdfpc/pdfpcrc
    dest: /home/rafael/.config/pdfpc/pdfpcrc
    owner: rafael
    group: rafael
    mode: 0600

- name: software | presentation | Projecteur install
  tags: presentation,projecteur
  become_user: aurman
  kewlfft.aur.aur:
    name: projecteur-git
  when: ansible_facts['distribution'] == "Archlinux"
