- name: software | scripts | ensure scripts dir exist
  tags: scripts
  file:
    path: /home/rafael/.config/scripts
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: software | scripts | copy scripts
  tags: scripts
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/scripts/{{ item }}
    dest: /home/rafael/.config/scripts/{{ item }}
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - 'adb-mdns-pair.sh'
    - 'adb-mdns-scrcpy.sh'
    - 'capslock_status.sh'
    - 'darth_bright.sh'
    - 'emacs-respawn.sh'
    - 'hide-or-kill.sh'
    - 'keeb-leds.sh'
    - 'kill-window.sh'
    - 'mouse-warp.sh'
    - 'navigate2ws.sh'
    - 'opacity.sh'
    - 'rofi.sh'
    - 'scratchpad-temp.sh'
    - 'screencast.sh'
    - 'show-or-launch.sh'
    - 'vpn-connecter.sh'
    - 'wlprop.sh'
    - 'xremap-keeb-config.sh'
    - 'wait_host_up.sh'
