- name: software | scripts | ensure scripts dir exists
  tags: scripts
  file:
    path: /home/rafael/.config/scripts
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: software | scripts | copy scripts
  tags: scripts
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/scripts/{{ item }}
    dest: /home/rafael/.config/scripts/{{ item }}
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - 'adb-mdns-pair.sh'       # detect ADB pair IP:port with mDNS start pairing
    - 'adb-mdns-scrcpy.sh'     # detect ADB IP:port and show/start scrcpy scratchpad
    - 'darth_bright.sh'        # toggle GTK light/dark theme
    - 'emacs-respawn.sh'       # hard restart of Emacs daemon
    - 'emote-paste.sh'         # paste emoji according to window context
    - 'hide-or-kill.sh'        # hide scratchpads, kill other windows
    - 'kill-window.sh'         # kill window + if scratchpad, clean PID temp file
    - 'lan-mouse-monitor.sh'   # sends clipboard back to sender host via SSH forced command
    - 'mouse-warp.sh'          # for i3wm: focus adjacent window and centralize cursor
    - 'navigate2ws.sh'         # go to workspace, and start application if empty
    - 'nmap.sh'                # scan devices IP with nmap
    - 'opacity.sh'             # control windows opacity/transparency
    - 'rofi.sh'                # launch Rofi in specific mode
    - 'scratchpad-temp.sh'     # show temporary scratchpad or move window to it, if empty
    - 'push-clipboard.sh'      # copy clipboard when switching hosts with lan-mouse
    - 'screencast.sh'          # control screencast application
    - 'show-or-launch.sh'      # show scratchpad, or launch it if it doesn't exist
    - 'volume-control.sh'      # adjust volume in fixed step sizes (used with mouse)
    - 'vpn-connecter.sh'       # GUI to connect/disconnect VPN
    - 'wait_host_up.sh'        # fping host and send notification when it's up
    - 'wlprop.sh'              # get window properties in Wayland (Sway)
