- name: software | shell | install zsh packages from AUR
  tags: shell,zsh
  become_user: aurman
  kewlfft.aur.aur:
    name:
      - zsh-vi-mode
      - zsh-system-clipboard-git
  when: ansible_facts['distribution'] == "Archlinux"
