- name: software | syncthing | install Syncthing
  tags: syncthing
  package:
    name: syncthing

- name: software | syncthing | start Syncthing daemon
  tags: syncthing
  become_user: rafael
  systemd:
    name: syncthing
    enabled: yes
    state: started
    scope: user

- name: software | syncthing | install Syncthing tray icon
  tags: syncthing
  become_user: aurman
  kewlfft.aur.aur:
    name: syncthingtray-qt6
