#- name: software | theme | install GTK
#  tags: theme
#  package:
#    name:
#      - gtk3
#      - gtk4

- name: software | theme | ensure GTK dirs exist
  tags: theme
  file:
    path: /home/rafael/.config/{{ item }}
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - gtk-3.0
    - gtk-4.0

- name: software | theme | set theme for GTK 3 and GTK 4 (non-libadwaita)
  tags: theme
  copy:
    remote_src: true
    src: /home/ansible/git/dotfiles/gtk/{{ item }}
    dest: /home/rafael/.config/
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - gtk-3.0
    - gtk-4.0

- name: software | theme | set theme for GTK 4 (libadwaita-based)
  tags: theme
  community.general.dconf:
    key: "/org/gnome/desktop/interface/color-scheme"
    value: "'prefer-dark'"
    state: present

- name: software | theme | install Qt packages
  tags: theme,qt
  package:
    name:
      - qt5-wayland  # provides APIs for Wayland (Qt5)
      - qt6-wayland  # provides APIs for Wayland (Qt6)
      - qt6-svg      # classes for displaying the contents of SVG files
  when: window_manager == "sway"

- name: software | theme | install Kvantum
  tags: theme,qt
  package:
    name:
      - kvantum-qt5  # SVG-based theme engine for Qt5
      - kvantum      # SVG-based theme engine for Qt6

- name: software | theme | ensure Kvantum dir exists
  tags: theme,qt
  file:
    path: /home/rafael/.config/Kvantum
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
