- name: software | window-manager | install Sway
  tags: wayland,sway
  package:
    name:
      - seatd         # prerequisite of sway
      - sway          # window manager / compositor
      - ruby          # prerequisite for i3bang (config preprocessor)
      - sway-contrib  # community scripts for sway
      - swayidle      # idle manager
      - swaybg        # wallpaper tool
      #- swaylock      # screen locker

- name: software | window-manager | install Sway locker
  tags: wayland,sway
  become_user: aurman
  kewlfft.aur.aur:
    name: swaylock-effects  # screen locker

- name: software | window-manager | install portals
  tags: wayland,portals
  package:
    name:
      - xdg-desktop-portal      # XDG Desktop portal
      - xdg-desktop-portal-wlr  # portal backend for wlroots (Sway included)

- name: software | window-manager | add user to seat group
  tags: wayland,sway,users,rafael
  user:
    name: rafael
    groups: seat
    append: yes

- name: software | window-manager | start seatd daemon
  tags: wayland,sway
  systemd:
    name: seatd
    enabled: yes
    state: started

- name: software | window-manager | ensure Sway dirs exist
  tags: wayland,sway
  file:
    path: /home/rafael/.config/{{ item }}
    state: directory
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - sway
    - swaylock

- name: software | window-manager | copy Sway dotfiles
  tags: wayland,sway
  copy:
    src: /home/ansible/git/dotfiles/i3-sway/{{ item.src }}
    dest: /home/rafael/.config/sway/{{ item.dest }}
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600
  with_items:
    - { src: 'i3bang.rb',    dest: 'i3bang.rb' }
    - { src: '_config_sway', dest: '_config'   }

- name: software | window-manager | generate Sway config from Ruby script
  tags: wayland,sway
  become_user: rafael
  command:
    cmd: ruby /home/rafael/.config/sway/i3bang.rb
    creates: /home/rafael/.config/sway/config

- name: software | window-manager | copy swaylock dotfiles
  tags: wayland,sway
  copy:
    src: /home/ansible/git/dotfiles/swaylock/{{ item.filename }}
    dest: /home/rafael/.config/swaylock/{{ item.filename }}
    remote_src: true
    owner: rafael
    group: rafael
    mode: "{{ item.mode }}"
  with_items:
    - { filename: 'config',         mode: '0600' }
    - { filename: 'lock-screen.sh', mode: '0700' }

- name: software | window-manager | install general packages
  tags: wayland,sway
  package:
    name:
      - xorg-xwayland  # run X clients under wayland
      - wl-clipboard   # clipboard utils
      - waycheck       # Wayland protocols implementation status

- name: software | window-manager | install general packages from AUR
  tags: wayland,sway
  become_user: aurman
  kewlfft.aur.aur:
    name: autotiling  # script to switch h/v window orientation
