# Code names
# https://nouveau.freedesktop.org/CodeNames.html
#
# Kepler       (NVE0 family / GKXXX code name)
# Maxwell      (NV110 family / GMXXX code name)
# Pascal       (NV130 family / GPXXX code name)
# Volta        (NV140 family / GVXXX code name)
# Turing       (NV160 family / TUXXX code name)
# Ampere       (NV170 family / GA10X code name)
# Ada Lovelace (NV190 family / ADXXX code name)
# Blackwell    (TBD family / TBD code name)

# NVIDIA GPU architecture identification
- name: system | GPU NVIDIA | check if architecture is Kepler
  tags: system,gpu,gpu-nvidia
  shell: lspci -k -d ::03xx | grep -E 'GK[12][01][0-9A][B]?'
  changed_when: false
  failed_when: false
  register: kepler

- name: system | GPU NVIDIA | check if architecture is Maxwell, Pascal, or Volta
  tags: system,gpu,gpu-nvidia
  shell: lspci -k -d ::03xx | grep -E 'GM[12]0[04678B]|GP10[24678]|GV100'
  changed_when: false
  failed_when: false
  register: maxwell_pascal_volta

- name: system | GPU NVIDIA | check if architecture is Turing, Ampere, or Ada Lovelace
  tags: system,gpu,gpu-nvidia
  shell: lspci -k -d ::03xx | grep -E 'TU1[01][2467]|GA10[2467]AD10[23467]'
  changed_when: false
  failed_when: false
  register: turing_ampere_adalovelace

# Kepler
- name: system | GPU NVIDIA | install driver for Kepler architecture
  tags: system,gpu,gpu-nvidia
  become_user: aurman
  kewlfft.aur.aur:
    name:
      - nvidia-470xx-dkms
      - nvidia-470xx-utils
      - lib32-nvidia-470xx-utils
    state: latest
  when: kepler.stdout != ""

# Maxwell, Pascal, and Volta
- name: system | GPU NVIDIA | install driver for Maxwell, Pascal and Volta architectures (linux kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia              # NVIDIA kernel modules
      - nvidia-utils        # drivers utilities (provides nvidia-smi, vulkan-driver)
      - lib32-nvidia-utils  # provides lib32-vulkan-driver
  when:
    - maxwell_pascal_volta.stdout != ""
    - kernel == "linux"

- name: system | GPU NVIDIA | install driver for Maxwell, Pascal and Volta architectures (linux-lts kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia-lts          # NVIDIA drivers for linux-lts
      - nvidia-utils        # drivers utilities (provides nvidia-smi, vulkan-driver)
      - lib32-nvidia-utils  # provides lib32-vulkan-driver
  when:
    - maxwell_pascal_volta.stdout != ""
    - kernel == "linux-lts"

# Turing, Ampere, and Ada Lovelace
- name: system | GPU NVIDIA | install driver for Turing, Ampere and Ada Lovelace architectures (linux kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia-open         # NVIDIA open kernel modules
      - nvidia-utils        # drivers utilities (provides nvidia-smi, vulkan-driver)
      - lib32-nvidia-utils  # provides lib32-vulkan-driver
  when:
    - turing_ampere_adalovelace.stdout != ""
    - kernel == "linux"

- name: system | GPU NVIDIA | install driver for Turing, Ampere and Ada Lovelace architectures (linux-lts kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia-open-lts      # NVIDIA open kernel modules
      - nvidia-utils         # drivers utilities (provides nvidia-smi)
      - lib32-nvidia-utils   # provides lib32-vulkan-driver
  when:
    - turing_ampere_adalovelace.stdout != ""
    - kernel == "linux-lts"

- name: system | GPU NVIDIA | install requirements to run Vulkan applications
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - vulkan-icd-loader        # Installable Client Driver (ICD) Loader
      - lib32-vulkan-icd-loader  # ICD for 32-bit applications (requires multilib repository)
      - vulkan-tools             # Vulkan tools and utilities

- name: system | GPU NVIDIA | install CUDA
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - cuda        # NVIDIA's GPU programming toolkit
      #- cuda-tools  # extra tools: nsight, compute-sanitizer
