# Code names
# https://nouveau.freedesktop.org/CodeNames.html
#
# Kepler       (NVE0 family / GKXXX code name)
# Turing       (NV160 family / TUXXX code name)
# Ampere       (NV170 family / GA10X code name)
# Ada Lovelace (NV190 family / ADXXX code name)

# NVIDIA GPU architecture identification
- name: system | GPU NVIDIA | check if architecture is Kepler
  tags: system,gpu,gpu-nvidia
  shell: lspci -k -d ::03xx | grep -E 'GK[12][01][0-9A][B]?'
  changed_when: false
  failed_when: false
  register: kepler

- name: system | GPU NVIDIA | check if architecture is Turing, Ampere, or Ada Lovelace
  tags: system,gpu,gpu-nvidia
  shell: lspci -k -d ::03xx | grep -E 'TU1[01][2467]|GA10[2467]AD10[23467]'
  changed_when: false
  failed_when: false
  register: turing_ampere_adalovelace

# Kepler
- name: system | GPU NVIDIA | install driver for Kepler architecture
  tags: system,gpu,gpu-nvidia
  become_user: aurman
  kewlfft.aur.aur:
    name:
      - nvidia-470xx-dkms
      - nvidia-470xx-utils
    state: latest
  when: kepler.stdout != ""

# Turing, Ampere, and Ada Lovelace
- name: system | GPU NVIDIA | install driver for Turing, Ampere and Ada Lovelace architectures (linux kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia-open   # NVIDIA open kernel modules
      - nvidia-utils  # drivers utilities (provides nvidia-smi)
  when:
    - turing_ampere_adalovelace.stdout != ""
    - kernel == "linux"

- name: system | GPU NVIDIA | install driver for Turing, Ampere and Ada Lovelace architectures (linux-lts kernel)
  tags: system,gpu,gpu-nvidia
  package:
    name:
      - nvidia-open-lts  # NVIDIA open kernel modules
      - nvidia-utils     # drivers utilities (provides nvidia-smi)
  when:
    - turing_ampere_adalovelace.stdout != ""
    - kernel == "linux-lts"
