- name: system | GPU Intel | install requirements to run Vulkan applications
  tags: system,gpu,gpu-intel
  package:
    name:
      - vulkan-icd-loader        # Installable Client Driver (ICD) Loader
      - lib32-vulkan-icd-loader  # ICD for 32-bit applications (requires multilib repository)
      - vulkan-tools             # Vulkan tools and utilities
      - vulkan-intel             # provides vulkan-driver
      - lib32-vulkan-intel       # provides lib32-vulkan-driver

# Intel iGPU identification
- name: system | GPU Intel | check CPU model
  tags: system,gpu,gpu-nvidia
  shell: "awk -F': +' '/model[[:space:]]+:/{print $2; exit}' /proc/cpuinfo"
  changed_when: false
  failed_when: false
  register: intel_cpu_model

# Gen7: Ivy Bridge, Haswell
- name: system | GPU Intel | install VA-API driver for iGPU older than Broadwell
  tags: system,gpu,gpu-intel
  package:
    name: libva-intel-driver
  when: (intel_cpu_model.stdout | int) < 61

# Gen8+: Broadwell+
- name: system | GPU Intel | install VA-API driver for Broadwell iGPU or later
  tags: system,gpu,gpu-intel
  package:
    name: intel-media-driver
  when: (intel_cpu_model.stdout | int) >= 61
