- name: system | mouse | install LogiOps
  tags: mouse,logiops
  become_user: aurman
  kewlfft.aur.aur:
    name: logiops
  when: ansible_facts['distribution'] == "Archlinux"

- name: system | mouse | ensure LogiOps dir exist
  tags: mouse,logiops
  file:
    path: /home/rafael/.config/logiops
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: system | mouse | copy LogiOps dotfile
  tags: mouse,logiops
  copy:
    src: /home/ansible/git/keebab/logiops/logid.cfg
    dest: /home/rafael/.config/logiops/logid.cfg
    remote_src: true
    owner: rafael
    group: rafael
    mode: 0600

- name: system | mouse | copy LogiOps udev rules
  tags: mouse,logiops
  copy:
    src: /home/ansible/git/keebab/udev/rules.d/50-mx-master3.rules
    dest: /etc/udev/rules.d/50-mx-master3.rules
    remote_src: true
    owner: root
    group: root
    mode: 0644

- name: system | mouse | copy LogiOps systemd services
  tags: mouse,logiops
  copy:
    src: /home/ansible/git/keebab/systemd/system/{{ item }}
    dest: /etc/systemd/system/{{ item }}
    remote_src: true
    owner: root
    group: root
    mode: 0644
  with_items:
    - logid.service
    - logid-restart.service

- name: system | mouse | start LogiOps daemon
  tags: mouse,logiops
  systemd:
    name: logid
    enabled: yes
    state: started
