- name: system | ssh | ensure SSH dir exist
  tags: system,ssh
  file:
    path: /home/rafael/.ssh
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: system | ssh | generate SSH keys
  tags: system,ssh
  openssh_keypair:
    path: /home/rafael/.ssh/id_ed25519
    type: ed25519
    state: present
    owner: rafael
    group: rafael
    comment: "Rafael Ito"

- name: system | ssh | create known_hosts & authorized_keys dirs
  tags: system,ssh
  copy:
    content: ""
    dest: "{{ item }}"
    force: no
    owner: rafael
    group: rafael
    mode: 0600
  with_items:
    - /home/rafael/.ssh/known_hosts
    - /home/rafael/.ssh/authorized_keys

- name: system | ssh | copy pub SSH key
  tags: system,ssh
  authorized_key:
    key: "{{ lookup('file', '/home/rafael/.ssh/id_ed25519.pub') }}"
    user: rafael
    state: present

- name: system | ssh | copy config file for SSH server
  tags: system,ssh
  copy:
    src: /home/ansible/git/dotfiles/openssh/sshd_config
    dest: /etc/ssh/sshd_config
    remote_src: true
    owner: root
    group: root
    mode: 0644

- name: system | ssh | start SSH daemon
  tags: system,ssh
  systemd:
    name: sshd
    state: started
    enabled: yes
