- name: software | vpn | install packages for OpenVPN
  tags: vpn
  package:
    name:
      - openvpn                 # OpenVPN daemon
      - networkmanager-openvpn  # NetworkManager plugin for OpenVPN

- name: software | vpn | install packages for OpenConnect
  tags: vpn
  package:
    name:
      - openconnect                 # client for Cisco's AnyConnect SSL VPN)
      - networkmanager-openconnect  # NetworkManager VPN plugin for OpenConnect
      - stoken                      # RSA SecurID
      - vpnc                        # VPN client for Cisco

- name: software | vpn | install packages for VPN launcher script
  tags: vpn
  package:
    name:
      - yad  # dialogs used by custom VPN launcher script

- name: software | vpn | ensure vpn dir exist
  tags: vpn
  file:
    path: /home/rafael/.config/vpn
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: software | vpn | copy scripts
  tags: vpn
  copy:
    remote_src: yes
    src: /home/ansible/git/dotfiles/vpn/{{ item }}
    dest: /home/rafael/.config/vpn/
    owner: rafael
    group: rafael
    mode: 0700
  with_items:
    - 'lcn'
    - 'unicamp'
    - 'lbic'
    - 'samsung'

- name: software | vpn | ensure OpenVPN client dirs exist
  tags: vpn
  file:
    path: /etc/openvpn/client/{{ item }}
    state: directory
    owner: root
    group: root
    mode: 0700
  with_items:
    - lbic
    - unicamp
