# load distro-specific variables
- include_vars: "{{ ansible_facts['distribution'] }}.yml"
  tags: always

- block:
  # set up ansible environment
  - import_tasks: users/ansible.yml          # create ansible user
  - import_tasks: software/ansible.yml       # clone ansible-provision repo
  - import_tasks: software/cron.yml          # install & setup cron/fcron
  - import_tasks: system/auto-provision.yml  # Ansible auto-provision
  
  # system setup
  - import_tasks: users/rafael.yml           # create regular user
  - import_tasks: users/dotfiles.yml         # clone dotfiles repo
  - import_tasks: system/cpu.yml             # AMD / Intel microcode
  - import_tasks: system/ssh.yml             # install OpenSSH & setup ssh keys
  - import_tasks: system/ntp.yml             # synchronize time
  - import_tasks: software/shell.yml         # Zsh
  - import_tasks: software/text-editor.yml   # Neovim
