- name: system | ssh | install OpenSSH [Arch]
  tags: ssh
  package:
    name: openssh
    state: latest
  when: ansible_facts['distribution'] == "Archlinux"

- name: system | ssh | install OpenSSH [Debian]
  tags: ssh
  package:
    name:
      - openssh-server
      - openssh-client
    state: latest
  when: ansible_facts['distribution'] == "Debian"

- name: system | ssh | create ssh keys dir
  tags: ssh,ssh-keys
  file:
    path: /home/rafael/.ssh
    state: directory
    owner: rafael
    group: rafael
    mode: 0700

- name: system | ssh | generate ssh keys
  tags: ssh,ssh-keys
  openssh_keypair:
    path: /home/rafael/.ssh/id_ed25519
    type: ed25519
    state: present
    owner: rafael
    group: rafael
    comment: "{{ ansible_facts['hostname'] }}"

- name: system | ssh | create known_hosts & authorized_keys files
  tags: ssh,ssh-keys
  copy:
    content: ""
    dest: "{{ item }}"
    force: no
    owner: rafael
    group: rafael
    mode: 0600
  with_items:
    - /home/rafael/.ssh/known_hosts
    - /home/rafael/.ssh/authorized_keys

- name: system | ssh | copy ssh keys
  tags: ssh,ssh-keys
  ansible.posix.authorized_key:
    user: rafael
    state: present
    manage_dir: true
    key: "{{ lookup('file', item.path) }}"
    comment: "{{ item.comment }}"
  with_items:
    - { path: "{{ role_path }}/files/ssh-keys/ipf-archlinux.pub", comment: "IPF-ArchLinux" }

#- name: system | ssh | copy config file for SSH server
#  tags: system,ssh
#  copy:
#    src: /home/ansible/git/dotfiles/openssh/sshd_config
#    dest: /etc/ssh/sshd_config
#    remote_src: true
#    owner: root
#    group: root
#    mode: 0644

- name: system | ssh | sshd disable password authentication
  tags: ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'PasswordAuthentication no'
    regexp: '^#?PasswordAuthentication'
    state: present

- name: system | ssh | sshd disable root login
  tags: ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'PermitRootLogin no'
    regexp: '^#?PermitRootLogin'
    state: present

- name: system | ssh | sshd enable pubkey authentication
  tags: ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'PubkeyAuthentication yes'
    regexp: '^#?PubkeyAuthentication'
    state: present

- name: system | ssh | sshd change default port
  tags: ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'Port 2222'
    regexp: '^#?Port'
    state: present

- name: system | ssh | sshd set allowed group to ssh
  tags: ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    line: 'AllowGroups sshuser'
    regexp: '^#?AllowGroups'
    state: present

- name: system | ssh | create sshuser group
  tags: ssh,groups
  group:
    name: sshuser
    state: present

- name: system | ssh | add user to sshuser group
  tags: ssh,users,groups
  user:
    name: rafael
    append: yes
    groups: sshuser

- name: system | ssh | start daemon [Arch]
  tags: ssh
  systemd:
    name: sshd
    state: started
    enabled: yes
  when: ansible_facts['distribution'] == "Archlinux"

- name: system | ssh | start daemon [Debian]
  tags: ssh
  systemd:
    name: ssh
    state: started
    enabled: yes
  when: ansible_facts['distribution'] == "Debian"
